name: Build

on:
  pull_request: {}
  push: { branches: [master] }
jobs:
  build:
    name: ${{ matrix.targetPlatform }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        targetPlatform:
          - StandaloneOSX # Build a macOS standalone (Intel 64-bit).
          - StandaloneWindows # Build a Windows standalone.
          - StandaloneWindows64 # Build a Windows 64-bit standalone.
          - StandaloneLinux64 # Build a Linux 64-bit standalone.
          - iOS # Build an iOS player.
          - Android # Build an Android .apk standalone app.
          - WebGL # WebGL.

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true

      - name: Create temporary project
        run: |
          mkdir BuildProject
          mkdir -p BuildProject/Packages
          echo '{ "dependencies": { "com.alexeytaranov.serializereferencedropdown": "file:../com.alexeytaranov.serializereferencedropdown" } }' > BuildProject/Packages/manifest.json

      - name: Cache Unity Library
        uses: actions/cache@v4
        with:
          path: BuildProject/Library
          key: Library-${{ matrix.unity }}-${{ matrix.targetPlatform }}

      - name: Build project
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          projectPath: BuildProject
          unityVersion: ${{ matrix.unity }}
          targetPlatform: ${{ matrix.targetPlatform }}
          buildName: BuildProject
          buildPath: build/${{ matrix.targetPlatform }}

      - name: Build
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          targetPlatform: ${{ matrix.targetPlatform }}
